In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from pandatorch.data import DataFrame

In [3]:
df=pd.read_csv("IRIS.csv")

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
torch_df=DataFrame(X=df.drop("species",axis=1),y=df['species'])

In [6]:
torch_df.df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
torch_df.features[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]], dtype=float32)

In [8]:
torch_df.target[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [9]:
torch_df.class_to_idx

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [10]:
import torch
from torch import nn
from torch.utils.data import DataLoader

In [11]:
loader=DataLoader(torch_df,batch_size=20)

In [12]:
class Net(nn.Module):
    def __init__(self):
        super().__init__()
        self.l1=nn.Linear(in_features=torch_df.get_number_of_columns(torch_df.features),out_features=5)
        self.output=nn.Linear(5,3)
        self.softmax=nn.Softmax(dim=1)
        self.relu=nn.ReLU()
    
    def forward(self,x):
        x=self.relu(self.l1(x))
        x=self.softmax(self.output(x))
        return x

In [13]:
# device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
device = 'cuda:0'
print(device)

cuda:0

In [14]:
model = Net().to(device)
optimizer = torch.optim.Adam(model.parameters())
criterion = nn.CrossEntropyLoss().to(device)

In [15]:
def train(model, dataLoader, optimizer, criterion):
    for epoch in range(10):
        running_loss = 0.0
        count=0
        for i, data in enumerate(dataLoader):
            count+=1
            # data is a list of [inputs, labels]
            inputs, labels = data
            inputs,labels=inputs.to(device),labels.to(device)

            # Zero the param gradients
            optimizer.zero_grad()

            # forward+backward+optimize
            outputs = model(inputs)
            loss = criterion(outputs, labels)
            loss.backward()
            optimizer.step()

            running_loss += loss.item()
        print(f"Epoch:{epoch+1}\nLoss:{running_loss/count}")

In [16]:
train(model,loader,optimizer,criterion)

Epoch:1
Loss:1.1174697801470757
Epoch:2
Loss:1.1129079163074493
Epoch:3
Loss:1.110691249370575
Epoch:4
Loss:1.1088714599609375
Epoch:5
Loss:1.107173465192318
Epoch:6
Loss:1.105592094361782
Epoch:7
Loss:1.1040479093790054
Epoch:8
Loss:1.1025523468852043
Epoch:9
Loss:1.1010997146368027
Epoch:10
Loss:1.0996587127447128